.features-section  { 
    padding-bottom: 70px;
}
.features-section-item { 
    
    margin-top: 1.7rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    img { 
        padding-right: 15px;
        padding-top: 5px;
        
    }
    .features-section-text { 
        h4 { 
            text-transform: capitalize;
            font-weight: bold;
            font-size: 1.5rem;
            color: #353854;
            margin-bottom: 1.5rem;
        }
        p { 
            padding: 0;
            font-size: 1rem;
            font-weight: normal;
            color: #aeaeae;
             
        }
    }
}


  